body {
  margin: 0;
  padding: 0;
}

.bgNav{
  background-color: #817df5;
}

.itemListContainer {
  background-color: azure;
  height: 15vh;
}

.paddingNone {
  padding: 0;
}

.marginNone{
  margin: 0;
}


