body {
  margin: 0;
  padding: 0;
}

.bgNav{
  background-color: #00888f;
}

.linkNav{
  color: white;
  transition: 0.2s;
}

.linkNav :hover{
  color: rgb(189, 39, 39);
}

.itemListContainer {
  background-color: azure;
  height: 15vh;
}

.paddingNone {
  padding: 0;
}

.marginNone{
  margin: 0;
}

.render-prod {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media (max-width: 600px) {
  .render-prod {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 450px) {
  .render-prod {
    grid-template-columns: auto auto;
  }
}

.contenedor-products {
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  height: 550px;
}

.contenedor-products:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.detalle-producto{
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 3px;
  margin-top: 1rem;
  text-align: center;
}

.imagen-products{
  width: 100%;
  height: 250px;
}

.title-products{
  position: absolute;
  top: 3px;
  left: 10%;
  right: 10%;
}

.contenedor-detalle{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  height: 80vh;
  width: 95vw;
}

.contenedor-detalle:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-detalle > img{
  grid-column: 1;
  width: 100%;
  height: 74vh;
  grid-row: span 5;
}

.contenedor-detalle > h1{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.precio-detalle{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.descripcion-detalle{
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.contador-stock{
  grid-column: 2;
  grid-row: 5;
}

.rate-detalle{
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-spinner {
  height: 100%;
}